# Importing Data

In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
df_1=pd.read_csv("./bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv")

In [3]:
df_2 = pd.read_csv("./Bitstamp_BTCUSD_2021_minute_337366.csv")

/home/jhordymora/.pyenv/versions/lewagon/envs/crypto/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,4,5,6,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Data Preprocessing - Standarizing dataframes with same columns

## df_2 data Preparation

In [4]:
df_2

                                                                                       https://www.CryptoDataDownload.com
unix       date                symbol  open     high     low      close    Volume BTC                          Volume USD
1629701040 2021-08-23 06:44:00 BTC/USD 50139.68 50139.68 50139.68 50139.68 0.00000000                                 0.0
1629700980 2021-08-23 06:43:00 BTC/USD 50144.09 50144.09 50133.18 50139.68 1.87875000                   94199.92379999999
1629700920 2021-08-23 06:42:00 BTC/USD 50140.78 50140.78 50120.62 50120.62 0.02177000                  1091.1258974000002
1629700860 2021-08-23 06:41:00 BTC/USD 50131.78 50135.63 50131.78 50135.63 0.36106794                  18102.368644702197
...                                                                                                                   ...
1609459500 2021-01-01 00:05:00 BTC/USD 29021.86 29023.38 28982.33 28999.5  1.06235967                         30807.89925
1609459440 2021-01-01 00:04:00 BTC/USD 29048.13 29057.73 29035.61 29045.19 1.4465376                         42014.959434
1609459380 2021-01-01 00:03:00 BTC/USD 29037.68 29069.39 29019.0  29048.13 2.18962055                        63604.382387
1609459320 2021-01-01 00:02:00 BTC/USD 29069.8  29073.02 29028.14 29035.89 3.03030144                        87987.499279
1609459260 2021-01-01 00:01:00 BTC/USD 29007.31 29086.9  29007.31 29083.47 14.56195084                      423512.060397

[337365 rows x 1 columns]

In [5]:
df_2.drop(columns=["https://www.CryptoDataDownload.com"], inplace=True)

In [6]:
df_2.reset_index(inplace=True)

In [7]:
df_2.columns = df_2.iloc[0]

In [8]:
df_2.drop([0], inplace=True)

In [9]:
df_2.drop(columns=["unix","symbol"], inplace=True)

In [10]:
df_2.rename(columns={"Volume BTC":"volume"}, inplace=True)

In [11]:
df_2

,date,open,high,low,close,volume
1,2021-08-23 06:44:00,50139.68,50139.68,50139.68,50139.68,0.00000000
2,2021-08-23 06:43:00,50144.09,50144.09,50133.18,50139.68,1.87875000
3,2021-08-23 06:42:00,50140.78,50140.78,50120.62,50120.62,0.02177000
4,2021-08-23 06:41:00,50131.78,50135.63,50131.78,50135.63,0.36106794
5,2021-08-23 06:40:00,50072.44,50134.08,50072.44,50131.08,0.46310000
...,...,...,...,...,...,...
337360,2021-01-01 00:05:00,29021.86,29023.38,28982.33,28999.5,1.06236
337361,2021-01-01 00:04:00,29048.13,29057.73,29035.61,29045.19,1.446538
337362,2021-01-01 00:03:00,29037.68,29069.39,29019.0,29048.13,2.189621
337363,2021-01-01 00:02:00,29069.8,29073.02,29028.14,29035.89,3.030301
337364,2021-01-01 00:01:00,29007.31,29086.9,29007.31,29083.47,14.561951

In [12]:
df_2["open"]=df_2.open.astype(float)
df_2["high"]=df_2.high.astype(float)
df_2["low"]=df_2.low.astype(float)
df_2["close"]=df_2.close.astype(float)
df_2["volume"]=df_2.volume.astype(float)
df_2["date"]= pd.to_datetime(df_2["date"], format='%Y-%m-%d %H:%M:%S.%f')

In [13]:
df_2.dtypes

0
date      datetime64[ns]
open             float64
high             float64
low              float64
close            float64
volume           float64
dtype: object

In [14]:
df_2=df_2.iloc[::-1]

In [15]:
df_2.reset_index(inplace=True)
df_2.drop(columns=["index"], inplace=True)

In [16]:
df_2

0                     date      open      high       low     close     volume
0      2021-01-01 00:01:00  29007.31  29086.90  29007.31  29083.47  14.561951
1      2021-01-01 00:02:00  29069.80  29073.02  29028.14  29035.89   3.030301
2      2021-01-01 00:03:00  29037.68  29069.39  29019.00  29048.13   2.189621
3      2021-01-01 00:04:00  29048.13  29057.73  29035.61  29045.19   1.446538
4      2021-01-01 00:05:00  29021.86  29023.38  28982.33  28999.50   1.062360
...                    ...       ...       ...       ...       ...        ...
337359 2021-08-23 06:40:00  50072.44  50134.08  50072.44  50131.08   0.463100
337360 2021-08-23 06:41:00  50131.78  50135.63  50131.78  50135.63   0.361068
337361 2021-08-23 06:42:00  50140.78  50140.78  50120.62  50120.62   0.021770
337362 2021-08-23 06:43:00  50144.09  50144.09  50133.18  50139.68   1.878750
337363 2021-08-23 06:44:00  50139.68  50139.68  50139.68  50139.68   0.000000

[337364 rows x 6 columns]

## df_1 Data Preparation

In [17]:
df_1.drop(columns=["Volume_(Currency)","Weighted_Price"], inplace=True)

In [18]:
df_1.rename(columns={"Timestamp": "date",
                     "Open": "open",
                     "High":"high",
                     "Low":"low",
                     "Close":"close",
                     "Volume_(BTC)":"volume"}, 
            inplace=True
                     )

In [ ]:
for row in range(len(df_1["date"])):
    df_1["date"][row]=datetime.fromtimestamp(df_1["date"][row])

/tmp/ipykernel_30702/1887864048.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1["date"][row]=datetime.fromtimestamp(df_1["date"][row])

In [ ]:
df_1["date"]= pd.to_datetime(df_1["date"], format='%Y-%m-%d %H:%M:%S.%f')

In [ ]:
df_1.dtypes

In [ ]:
df_1

# Joining Tables

## Comparing Data

In [ ]:
df_1.loc[[4857376]]

In [ ]:
df_2[df_2["date"]=="2021-03-31 02:00:00"]

There are differences between the data, so for that reason is possible that the result can be affected.
In this case we will preserve the data with more information and complement (adding) the data with the table which has less  information.

## Modifing df_2 with the data needed

In [ ]:
index = df_2[df_2["date"]=="2021-03-31 02:00:00"].index

In [ ]:
list_index_for_deleting = [number_row for number_row in range(index[0]+1)]

In [ ]:
df_2.drop(index=list_index_for_deleting, axis=0,inplace=True)

In [ ]:
df_2.reset_index()

In [ ]:
df_2

## Joining table with concatenate

In [ ]:
final_df =df_1.append(df_2)

In [ ]:
final_df

## Exporting to csv

In [ ]:
final_df.to_csv("../data/BTCUSD_2011-12-31-08:52_to_2021-08-23-06:44_Not_Clean.csv")

# Data Cleaning

## Counting null and NaN Values

In [ ]:
final_df.isnull().sum()

In [ ]:
final_df.isna().sum()

In [ ]:
final_df.dropna(inplace=True)

In [ ]:
final_df.isnull().sum()

In [ ]:
final_df.isna().sum()

In [ ]:
final_df.describe()

In [ ]:
final_df.info()

After dropping NaN we have lost 1,243,608 (5,066,461 - 3,822,853) data points, so we have to decided if we want to replace it with another value like a mean or just work without this information.

**My opinion:** we should work without this values because this have being changing along the time and if we replace the values with the mean or other strategy it can create outliers in that time frame.

## Dropping Duplicates

In [ ]:
final_df.drop_duplicates(inplace=True)

In [ ]:
final_df.reset_index(inplace=True)
final_df.drop(columns = ["index"], inplace=True)

In [ ]:
final_df.info()

## Exporting to csv

In [ ]:
final_df.to_csv("../data/BTCUSD_2011-12-31-08:52_to_2021-08-23-06:44_Clean.csv")

## Outliers

In [ ]:
final_df[["open", "high","low","close","volume"]].boxplot()

Using Log we are gonna see the percentage change of the different features

In [ ]:
temp = ["open", "high","low","close"]
for x in temp:
    final_df[f'log_{x}'] = final_df[x].apply(lambda x: np.log(x))

Volume is not being taking into account because it can has 0 values and when the log is apply, the result will be infinity

In [ ]:
final_df_log = final_df[["date","log_open","log_high","log_low","log_close","volume"]]
final_df_log

In [ ]:
final_df_log[["log_open","log_high","log_low","log_close"]].boxplot()

⚠️**<font color=red>Warning:</font> It is necessary to think how to combine log prices values and the volume.**⚠️

# Function for time interval selection

In [ ]:
final_df.tail()

In [ ]:
def time_selection(df, timeframe):
    """
    This function filter the data points in the choosed dataframe.
    The timeframe has to be choosen in this way. The first element is an interger and the second one is a letter, 
    which denotes the timeframe. M is for Months and m is for minutes.
    The smallest timeframe is a minites and the highest is months.
    For instance 5m (5 minutes), 5H (5 hours), 5D (5 days), 5M (5 months) and 5Y (5 years).
    It will return the dataframe with the specified parameters.
    """
    if "m" in timeframe:
        timeframe_list = [char for char in timeframe]
        minutes = int(timeframe_list[0])
        return df[df['date'].dt.minute%minutes==0].dropna()
    else:
        return df.set_index("date").resample(timeframe).mean().dropna().reset_index()

In [ ]:
df = final_df
df_4m =time_selection(df, "4m")
df_4m

In [ ]:
df = final_df
df_4H =time_selection(df, "4H")
df_4H

In [ ]:
df = final_df
df_4D =time_selection(df, "4D")
df_4D

In [ ]:
df = final_df
df_4M =time_selection(df, "4M")
df_4M

In [ ]:
df = final_df
df_4Y =time_selection(df, "4Y")
df_4Y