# Importing Data

In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df_1=pd.read_csv("./bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv")

In [3]:
df_2 = pd.read_csv("./Bitstamp_BTCUSD_2021_minute_337366.csv")

/home/jhordymora/.pyenv/versions/lewagon/envs/crypto/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,4,5,6,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Data Preprocessing - Standarizing dataframes with same columns

## df_2 data Preparetion

In [4]:
df_2

                                                                                       https://www.CryptoDataDownload.com
unix       date                symbol  open     high     low      close    Volume BTC                          Volume USD
1629701040 2021-08-23 06:44:00 BTC/USD 50139.68 50139.68 50139.68 50139.68 0.00000000                                 0.0
1629700980 2021-08-23 06:43:00 BTC/USD 50144.09 50144.09 50133.18 50139.68 1.87875000                   94199.92379999999
1629700920 2021-08-23 06:42:00 BTC/USD 50140.78 50140.78 50120.62 50120.62 0.02177000                  1091.1258974000002
1629700860 2021-08-23 06:41:00 BTC/USD 50131.78 50135.63 50131.78 50135.63 0.36106794                  18102.368644702197
...                                                                                                                   ...
1609459500 2021-01-01 00:05:00 BTC/USD 29021.86 29023.38 28982.33 28999.5  1.06235967                         30807.89925
1609459440 2021-01-01 00:04:00 BTC/USD 29048.13 29057.73 29035.61 29045.19 1.4465376                         42014.959434
1609459380 2021-01-01 00:03:00 BTC/USD 29037.68 29069.39 29019.0  29048.13 2.18962055                        63604.382387
1609459320 2021-01-01 00:02:00 BTC/USD 29069.8  29073.02 29028.14 29035.89 3.03030144                        87987.499279
1609459260 2021-01-01 00:01:00 BTC/USD 29007.31 29086.9  29007.31 29083.47 14.56195084                      423512.060397

[337365 rows x 1 columns]

In [5]:
df_2.drop(columns=["https://www.CryptoDataDownload.com"], inplace=True)

In [6]:
df_2.reset_index(inplace=True)

In [7]:
df_2.columns = df_2.iloc[0]

In [8]:
df_2.drop([0], inplace=True)

In [9]:
df_2.drop(columns=["unix","symbol"], inplace=True)

In [10]:
df_2.rename(columns={"Volume BTC":"Volume_BTC"}, inplace=True)

In [11]:
df_2

,date,open,high,low,close,Volume_BTC
1,2021-08-23 06:44:00,50139.68,50139.68,50139.68,50139.68,0.00000000
2,2021-08-23 06:43:00,50144.09,50144.09,50133.18,50139.68,1.87875000
3,2021-08-23 06:42:00,50140.78,50140.78,50120.62,50120.62,0.02177000
4,2021-08-23 06:41:00,50131.78,50135.63,50131.78,50135.63,0.36106794
5,2021-08-23 06:40:00,50072.44,50134.08,50072.44,50131.08,0.46310000
...,...,...,...,...,...,...
337360,2021-01-01 00:05:00,29021.86,29023.38,28982.33,28999.5,1.06236
337361,2021-01-01 00:04:00,29048.13,29057.73,29035.61,29045.19,1.446538
337362,2021-01-01 00:03:00,29037.68,29069.39,29019.0,29048.13,2.189621
337363,2021-01-01 00:02:00,29069.8,29073.02,29028.14,29035.89,3.030301
337364,2021-01-01 00:01:00,29007.31,29086.9,29007.31,29083.47,14.561951

In [12]:
df_2["open"]=df_2.open.astype(float)
df_2["high"]=df_2.high.astype(float)
df_2["low"]=df_2.low.astype(float)
df_2["close"]=df_2.close.astype(float)
df_2["Volume_BTC"]=df_2.Volume_BTC.astype(float)

In [13]:
df_2.dtypes

0
date           object
open          float64
high          float64
low           float64
close         float64
Volume_BTC    float64
dtype: object

In [14]:
df_2=df_2.iloc[::-1]

In [15]:
df_2.set_index("date",inplace=True)

In [16]:
df_2

0                        open      high       low     close  Volume_BTC
date
2021-01-01 00:01:00  29007.31  29086.90  29007.31  29083.47   14.561951
2021-01-01 00:02:00  29069.80  29073.02  29028.14  29035.89    3.030301
2021-01-01 00:03:00  29037.68  29069.39  29019.00  29048.13    2.189621
2021-01-01 00:04:00  29048.13  29057.73  29035.61  29045.19    1.446538
2021-01-01 00:05:00  29021.86  29023.38  28982.33  28999.50    1.062360
...                       ...       ...       ...       ...         ...
2021-08-23 06:40:00  50072.44  50134.08  50072.44  50131.08    0.463100
2021-08-23 06:41:00  50131.78  50135.63  50131.78  50135.63    0.361068
2021-08-23 06:42:00  50140.78  50140.78  50120.62  50120.62    0.021770
2021-08-23 06:43:00  50144.09  50144.09  50133.18  50139.68    1.878750
2021-08-23 06:44:00  50139.68  50139.68  50139.68  50139.68    0.000000

[337364 rows x 5 columns]

## df_1 Data Preparation

In [17]:
df_1.drop(columns=["Volume_(Currency)","Weighted_Price"], inplace=True)

In [18]:
df_1.rename(columns={"Timestamp": "date",
                     "Open": "open",
                     "High":"high",
                     "Low":"low",
                     "Close":"close",
                     "Volume_(BTC)":"Volume_BTC"}, 
            inplace=True
                     )

In [19]:
for row in range(len(df_1["date"])):
    df_1["date"][row]=datetime.fromtimestamp(df_1["date"][row])

/tmp/ipykernel_2896/1887864048.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1["date"][row]=datetime.fromtimestamp(df_1["date"][row])

In [20]:
df_1.dtypes

date           object
open          float64
high          float64
low           float64
close         float64
Volume_BTC    float64
dtype: object

In [21]:
df_1

,date,open,high,low,close,Volume_BTC
0,2011-12-31 08:52:00,4.39,4.39,4.39,4.39,0.455581
1,2011-12-31 08:53:00,NaN,NaN,NaN,NaN,NaN
2,2011-12-31 08:54:00,NaN,NaN,NaN,NaN,NaN
3,2011-12-31 08:55:00,NaN,NaN,NaN,NaN,NaN
4,2011-12-31 08:56:00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
4857372,2021-03-31 01:56:00,58714.31,58714.31,58686.00,58686.00,1.384487
4857373,2021-03-31 01:57:00,58683.97,58693.43,58683.97,58685.81,7.294848
4857374,2021-03-31 01:58:00,58693.43,58723.84,58693.43,58723.84,1.705682
4857375,2021-03-31 01:59:00,58742.18,58770.38,58742.18,58760.59,0.720415
4857376,2021-03-31 02:00:00,58767.75,58778.18,58755.97,58778.18,2.712831

# Joining Tables

## Comparing Data

In [22]:
df_1.loc[[4857376]]

,date,open,high,low,close,Volume_BTC
4857376,2021-03-31 02:00:00,58767.75,58778.18,58755.97,58778.18,2.712831

In [23]:
df_2.loc[["2021-03-31 02:00:00"]]

0                        open      high       low     close  Volume_BTC
date
2021-03-31 02:00:00  58915.87  58921.36  58900.64  58911.25    0.041504

There are differences between the data, so for that reason is possible that the result can be affected.
In this case we will preserve the data with more information and complement (adding) the data with the table which has less  information.

## Modifing df_2 with the data needed

In [24]:
df_2_modififed = df_2.reset_index()
index = df_2_modififed[df_2_modififed["date"]== "2021-03-31 02:00:00"].index
list_index_for_deleting = [number_row for number_row in range(index[0]+1)]
list_index_for_deleting
df_2_modififed.drop(index=list_index_for_deleting, axis=0,inplace=True)

## Joining table with concatenate

In [25]:
final_df =df_1.append(df_2_modififed)

In [26]:
final_df

,date,open,high,low,close,Volume_BTC
0,2011-12-31 08:52:00,4.39,4.39,4.39,4.39,0.455581
1,2011-12-31 08:53:00,NaN,NaN,NaN,NaN,NaN
2,2011-12-31 08:54:00,NaN,NaN,NaN,NaN,NaN
3,2011-12-31 08:55:00,NaN,NaN,NaN,NaN,NaN
4,2011-12-31 08:56:00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
337359,2021-08-23 06:40:00,50072.44,50134.08,50072.44,50131.08,0.463100
337360,2021-08-23 06:41:00,50131.78,50135.63,50131.78,50135.63,0.361068
337361,2021-08-23 06:42:00,50140.78,50140.78,50120.62,50120.62,0.021770
337362,2021-08-23 06:43:00,50144.09,50144.09,50133.18,50139.68,1.878750
337363,2021-08-23 06:44:00,50139.68,50139.68,50139.68,50139.68,0.000000

# Data Cleaning

In [27]:
final_df.isnull().sum()

date                0
open          1243608
high          1243608
low           1243608
close         1243608
Volume_BTC    1243608
dtype: int64

In [28]:
final_df.isna().sum()

date                0
open          1243608
high          1243608
low           1243608
close         1243608
Volume_BTC    1243608
dtype: int64

In [31]:
final_df.dropna(inplace=True)

In [32]:
final_df.isnull().sum()

date          0
open          0
high          0
low           0
close         0
Volume_BTC    0
dtype: int64

In [33]:
final_df.isna().sum()

date          0
open          0
high          0
low           0
close         0
Volume_BTC    0
dtype: int64

# Function for time interval selection