https://www.analyticsvidhya.com/blog/2021/05/bitcoin-price-prediction-using-recurrent-neural-networks-and-lstm/

I am gonna design the model like the one post in this web-site, adding our features into the RNN and LSTM model.

Characteristic of the model:
1. Based in normal price

# Imports

In [1]:
import pandas as pd
import numpy as np
import requests
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import SimpleRNN, LSTM
from tensorflow.keras import layers
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.layers import Masking, Dense, LSTM, Dropout
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.metrics import MAPE, MeanAbsoluteError
from keras.callbacks import EarlyStopping
from tensorflow.keras.layers.experimental.preprocessing import Normalization
import tensorflow as tf

2021-08-25 16:02:53.505736: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2021-08-25 16:02:53.505793: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
data_gemini = pd.read_csv("../data/BTCUSD_4hours.csv")

In [3]:
data_gemini = data_gemini.drop(columns="Unnamed: 0").set_index("date")

In [71]:
data_gemini.shape

(20809, 22)

# Functions and Pipeline

In [4]:
def add_ema(data, tspan=[12,26,20,50,34,55]):
    """
    Adds Exponential Moving Averages (EMA) to the dataframe. The default timeframes are 12,26,20,50,34 and 55.
    """
    for t in tspan:
        data[f'ema{t}'] = data.close.ewm(span=t).mean()
    return data

In [5]:
add_ema(data_gemini)

,open,high,low,close,volume,log_open,log_high,log_low,log_close,ema12,ema26,ema20,ema50,ema34,ema55
date,,,,,,,,,,,,,,,
2011-12-31 08:00:00,4.390000,4.390000,4.390000,4.390000,0.455581,1.479329,1.479329,1.479329,1.479329,1.479329,1.479329,1.479329,1.479329,1.479329,1.479329
2011-12-31 16:00:00,4.490000,4.513333,4.490000,4.513333,31.620766,1.501702,1.506847,1.501702,1.506847,1.494235,1.493617,1.493776,1.493363,1.493493,1.493338
2012-01-01 04:00:00,4.580000,4.580000,4.580000,4.580000,1.502000,1.521699,1.521699,1.521699,1.521699,1.504954,1.503707,1.504029,1.503189,1.503453,1.503138
2012-01-01 16:00:00,4.840000,4.840000,4.840000,4.840000,10.000000,1.576915,1.576915,1.576915,1.576915,1.527669,1.524173,1.525070,1.522741,1.523470,1.522600
2012-01-01 20:00:00,5.000000,5.000000,5.000000,5.000000,10.100000,1.609438,1.609438,1.609438,1.609438,1.549885,1.543946,1.545478,1.541494,1.542744,1.541253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-22 12:00:00,48769.308417,48787.711375,48749.417500,48769.737750,1.697971,10.794844,10.795222,10.794435,10.794853,10.792529,10.775250,10.781677,10.756861,10.768406,10.753323
2021-08-22 16:00:00,48591.665708,48605.941333,48574.903375,48591.580833,0.463362,10.791204,10.791498,10.790859,10.791202,10.792325,10.776432,10.782584,10.758207,10.769709,10.754676
2021-08-22 20:00:00,48807.713542,48825.874417,48791.558000,48810.168750,0.605696,10.795610,10.795982,10.795279,10.795660,10.792838,10.777856,10.783830,10.759676,10.771192,10.756140
2021-08-23 00:00:00,49779.332208,49803.461792,49759.784208,49783.003708,1.941360,10.815334,10.815818,10.814942,10.815408,10.796311,10.780638,10.786837,10.761862,10.773719,10.758256
2021-08-23 04:00:00,50278.596788,50292.908182,50261.680727,50277.475152,1.908007,10.825333,10.825618,10.824997,10.825311,10.800772,10.783947,10.790501,10.764350,10.776667,10.760651

In [6]:
def computeRSI(data, window=14):
    """
    Computes the Relative Stregth Index for a given dataset and the window can be defined. Its default value is 14.
    """
    diff = data.diff(1).dropna()        # diff in one field(one day)

    #this preservers dimensions off diff values
    up_chg = 0 * diff
    down_chg = 0 * diff
    
    # up change is equal to the positive difference, otherwise equal to zero
    up_chg[diff > 0] = diff[ diff>0 ]
    # down change is equal to negative deifference, otherwise equal to zero
    down_chg[diff < 0] = diff[ diff < 0 ]
    
    # check pandas documentation for ewm
    # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html
    # values are related to exponential decay
    # we set com=window-1 so we get decay alpha=1/window
    up_chg_avg   = up_chg.ewm(com=window-1 , min_periods=window).mean()
    down_chg_avg = down_chg.ewm(com=window-1 , min_periods=window).mean()
    
    rs = abs(up_chg_avg/down_chg_avg)
    rsi = 100 - 100/(1+rs)
    return rsi

In [7]:
rsi = computeRSI(data_gemini)

In [8]:
def stoch_rsi(rsi, d_window=3, k_window=3, window=14):
    """
    Computes the stochastic RSI. Default values are d=3, k=3, window=14.
    """
    minrsi = rsi.rolling(window=window, center=False).min()
    maxrsi = rsi.rolling(window=window, center=False).max()
    stoch = ((rsi - minrsi) / (maxrsi - minrsi)) * 100
    K = stoch.rolling(window=k_window, center=False).mean()
    D = K.rolling(window=d_window, center=False).mean() 
    return K, D

In [9]:
stoch_rsi(rsi)

(                          open       high        low      close     volume  \
 date
 2011-12-31 16:00:00        NaN        NaN        NaN        NaN        NaN
 2012-01-01 04:00:00        NaN        NaN        NaN        NaN        NaN
 2012-01-01 16:00:00        NaN        NaN        NaN        NaN        NaN
 2012-01-01 20:00:00        NaN        NaN        NaN        NaN        NaN
 2012-01-02 20:00:00        NaN        NaN        NaN        NaN        NaN
 ...                        ...        ...        ...        ...        ...
 2021-08-22 12:00:00  35.005390  34.479767  35.897418  34.998652  16.325185
 2021-08-22 16:00:00  18.222981  18.007879  18.629785  18.179354  19.001155
 2021-08-22 20:00:00   4.737093   4.891657   4.703528   4.725876  26.991820
 2021-08-23 00:00:00  26.473348  26.634274  26.517292  26.555930  45.622606
 2021-08-23 04:00:00  55.064877  55.163461  55.179129  55.106331  75.610305

                       log_open   log_high    log_low  log_close       ema12  \
 date
 2011-12-31 16:00:00        NaN        NaN        NaN        NaN         NaN
 2012-01-01 04:00:00        NaN        NaN        NaN        NaN         NaN
 2012-01-01 16:00:00        NaN        NaN        NaN        NaN         NaN
 2012-01-01 20:00:00        NaN        NaN        NaN        NaN         NaN
 2012-01-02 20:00:00        NaN        NaN        NaN        NaN         NaN
 ...                        ...        ...        ...        ...         ...
 2021-08-22 12:00:00  36.235696  35.713249  37.052187  36.210154  100.000000
 2021-08-22 16:00:00  19.067424  18.853184  19.403252  19.004941   99.405159
 2021-08-22 20:00:00   5.225625   5.379074   5.126352   5.196078   98.951241
 2021-08-23 00:00:00  26.658413  26.817383  26.704760  26.741234   98.951241
 2021-08-23 04:00:00  55.460161  55.553296  55.579096  55.500990   99.546082

                      ema26  ema20  ema50  ema34  ema55
 date
 2011-12-31 16:00:00    NaN    NaN    NaN    NaN    NaN
 2012-01-01 04:00:00    NaN    NaN    NaN    NaN    NaN
 2012-01-01 16:00:00    NaN    NaN    NaN    NaN    NaN
 2012-01-01 20:00:00    NaN    NaN    NaN    NaN    NaN
 2012-01-02 20:00:00    NaN    NaN    NaN    NaN    NaN
 ...                    ...    ...    ...    ...    ...
 2021-08-22 12:00:00  100.0  100.0  100.0  100.0  100.0
 2021-08-22 16:00:00  100.0  100.0  100.0  100.0  100.0
 2021-08-22 20:00:00  100.0  100.0  100.0  100.0  100.0
 2021-08-23 00:00:00  100.0  100.0  100.0  100.0  100.0
 2021-08-23 04:00:00  100.0  100.0  100.0  100.0  100.0

 [20839 rows x 15 columns],
                           open       high        low      close     volume  \
 date
 2011-12-31 16:00:00        NaN        NaN        NaN        NaN        NaN
 2012-01-01 04:00:00        NaN        NaN        NaN        NaN        NaN
 2012-01-01 16:00:00        NaN        NaN        NaN        NaN        NaN
 2012-01-01 20:00:00        NaN        NaN        NaN        NaN        NaN
 2012-01-02 20:00:00        NaN        NaN        NaN        NaN        NaN
 ...                        ...        ...        ...        ...        ...
 2021-08-22 12:00:00  49.101846  48.393392  50.195423  49.144985   5.982608
 2021-08-22 16:00:00  35.083587  34.549970  35.952414  35.095575  12.316326
 2021-08-22 20:00:00  19.321821  19.126434  19.743577  19.301294  20.772720
 2021-08-23 00:00:00  16.477808  16.511270  16.616868  16.487054  30.538527
 2021-08-23 04:00:00  28.758440  28.896464  28.799983  28.796046  49.408244

                       log_open   log_high    log_low  log_close       ema12  \
 date
 2011-12-31 16:00:00        NaN        NaN        NaN        NaN         NaN
 2012-01-01 04:00:00        NaN        NaN        NaN        NaN         NaN
 2012-01-01 16:00:00        NaN        NaN        NaN        NaN         NaN
 2012-01-01 20:00:00        NaN        NaN        NaN        NaN         NaN
 2012-01-02 20:00:00        NaN        NaN        NaN        NaN         NaN
 ...                        ...        ...        ...        ...         ...
 2021-08-22 12:00:00  50.198969  49.496813  51.258214  50.235845  100.000000
 2021-08-22 16:00:00  36.147028  35.617039  36.962618  36.146357   99.801720
 2021-08-22 20:00:00  20.176248  19.981835  20.527264  20.137058   99.452134
 2021-08-23 00:00:00  16.983821  17.016547  17.078121  16.980751   99.102547
 2021-08-23 04:00:00  29.114733  29.249918  29.136736  29.146101   99.149521

                      ema26  ema20  ema50  ema34  ema55
 date
 2011-12-31 16:00:00    NaN    NaN    NaN    NaN    NaN
 2012-01-01 04:00:00    NaN    NaN    NaN    NaN    NaN
 2012-01-01 16:00:00    NaN    NaN    NaN    NaN    NaN
 2012-01-01 20:00:00    NaN    NaN    NaN    NaN    NaN
 2012-01-02 20:00:00    NaN    NaN    NaN    NaN    NaN
 ...                    ...    ...    ...    ...    ...
 2021-08-22 12:00:00  100.0  100.0  100.0  100.0  100.0
 2021-08-22 16:00:00  100.0  100.0  100.0  100.0  100.0
 2021-08-22 20:00:00  100.0  100.0  100.0  100.0  100.0
 2021-08-23 00:00:00  100.0  100.0  100.0  100.0  100.0
 2021-08-23 04:00:00  100.0  100.0  100.0  100.0  100.0

 [20839 rows x 15 columns])

In [53]:
def add_stoch_rsi(data, d_window=3, k_window=3, window=14):
    data['rsi'] = computeRSI(data['close'], window)
    data['K'], data['D'] = stoch_rsi(data['rsi'], d_window, k_window, window)
    return data

In [11]:
add_stoch_rsi(data_gemini)

,open,high,low,close,volume,log_open,log_high,log_low,log_close,ema12,ema26,ema20,ema50,ema34,ema55,rsi,K,D
date,,,,,,,,,,,,,,,,,,
2011-12-31 08:00:00,4.390000,4.390000,4.390000,4.390000,0.455581,1.479329,1.479329,1.479329,1.479329,1.479329,1.479329,1.479329,1.479329,1.479329,1.479329,NaN,NaN,NaN
2011-12-31 16:00:00,4.490000,4.513333,4.490000,4.513333,31.620766,1.501702,1.506847,1.501702,1.506847,1.494235,1.493617,1.493776,1.493363,1.493493,1.493338,NaN,NaN,NaN
2012-01-01 04:00:00,4.580000,4.580000,4.580000,4.580000,1.502000,1.521699,1.521699,1.521699,1.521699,1.504954,1.503707,1.504029,1.503189,1.503453,1.503138,NaN,NaN,NaN
2012-01-01 16:00:00,4.840000,4.840000,4.840000,4.840000,10.000000,1.576915,1.576915,1.576915,1.576915,1.527669,1.524173,1.525070,1.522741,1.523470,1.522600,NaN,NaN,NaN
2012-01-01 20:00:00,5.000000,5.000000,5.000000,5.000000,10.100000,1.609438,1.609438,1.609438,1.609438,1.549885,1.543946,1.545478,1.541494,1.542744,1.541253,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-22 12:00:00,48769.308417,48787.711375,48749.417500,48769.737750,1.697971,10.794844,10.795222,10.794435,10.794853,10.792529,10.775250,10.781677,10.756861,10.768406,10.753323,62.080327,36.210154,50.235845
2021-08-22 16:00:00,48591.665708,48605.941333,48574.903375,48591.580833,0.463362,10.791204,10.791498,10.790859,10.791202,10.792325,10.776432,10.782584,10.758207,10.769709,10.754676,59.525060,19.004941,36.146357
2021-08-22 20:00:00,48807.713542,48825.874417,48791.558000,48810.168750,0.605696,10.795610,10.795982,10.795279,10.795660,10.792838,10.777856,10.783830,10.759676,10.771192,10.756140,61.603611,5.196078,20.137058
2021-08-23 00:00:00,49779.332208,49803.461792,49759.784208,49783.003708,1.941360,10.815334,10.815818,10.814942,10.815408,10.796311,10.780638,10.786837,10.761862,10.773719,10.758256,69.159095,26.741234,16.980751
2021-08-23 04:00:00,50278.596788,50292.908182,50261.680727,50277.475152,1.908007,10.825333,10.825618,10.824997,10.825311,10.800772,10.783947,10.790501,10.764350,10.776667,10.760651,72.121754,55.500990,29.146101

In [12]:
def get_bollinger_bands(prices, rate=20):
    sma = prices.rolling(rate).mean() # <-- Get SMA for 20 days
    std = prices.rolling(rate).std() # <-- Get rolling standard deviation for 20 days
    bollinger_up = sma + std * 2 # Calculate top band
    bollinger_down = sma - std * 2 # Calculate bottom band
    return sma, bollinger_up, bollinger_down

In [52]:
prices = data_gemini["close"]

In [14]:
get_bollinger_bands(prices, rate=20)

(date
 2011-12-31 08:00:00          NaN
 2011-12-31 16:00:00          NaN
 2012-01-01 04:00:00          NaN
 2012-01-01 16:00:00          NaN
 2012-01-01 20:00:00          NaN
                          ...
 2021-08-22 12:00:00    10.777789
 2021-08-22 16:00:00    10.782060
 2021-08-22 20:00:00    10.786118
 2021-08-23 00:00:00    10.789987
 2021-08-23 04:00:00    10.793803
 Name: log_close, Length: 20840, dtype: float64,
 date
 2011-12-31 08:00:00          NaN
 2011-12-31 16:00:00          NaN
 2012-01-01 04:00:00          NaN
 2012-01-01 16:00:00          NaN
 2012-01-01 20:00:00          NaN
                          ...
 2021-08-22 12:00:00    10.840219
 2021-08-22 16:00:00    10.834660
 2021-08-22 20:00:00    10.828258
 2021-08-23 00:00:00    10.827486
 2021-08-23 04:00:00    10.829215
 Name: log_close, Length: 20840, dtype: float64,
 date
 2011-12-31 08:00:00          NaN
 2011-12-31 16:00:00          NaN
 2012-01-01 04:00:00          NaN
 2012-01-01 16:00:00          NaN
 2012-01-01 20:00:00          NaN
                          ...
 2021-08-22 12:00:00    10.715358
 2021-08-22 16:00:00    10.729461
 2021-08-22 20:00:00    10.743977
 2021-08-23 00:00:00    10.752488
 2021-08-23 04:00:00    10.758390
 Name: log_close, Length: 20840, dtype: float64)

In [15]:
def add_bollinger(data, prices, rate=20):
    data['sma'], data['bollinger_up'], data['bollinger_down'] = get_bollinger_bands(prices)
    return data

In [16]:
add_bollinger(data_gemini,prices)

,open,high,low,close,volume,log_open,log_high,log_low,log_close,ema12,...,ema20,ema50,ema34,ema55,rsi,K,D,sma,bollinger_up,bollinger_down
date,,,,,,,,,,,,,,,,,,,,,
2011-12-31 08:00:00,4.390000,4.390000,4.390000,4.390000,0.455581,1.479329,1.479329,1.479329,1.479329,1.479329,...,1.479329,1.479329,1.479329,1.479329,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 16:00:00,4.490000,4.513333,4.490000,4.513333,31.620766,1.501702,1.506847,1.501702,1.506847,1.494235,...,1.493776,1.493363,1.493493,1.493338,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01 04:00:00,4.580000,4.580000,4.580000,4.580000,1.502000,1.521699,1.521699,1.521699,1.521699,1.504954,...,1.504029,1.503189,1.503453,1.503138,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01 16:00:00,4.840000,4.840000,4.840000,4.840000,10.000000,1.576915,1.576915,1.576915,1.576915,1.527669,...,1.525070,1.522741,1.523470,1.522600,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01 20:00:00,5.000000,5.000000,5.000000,5.000000,10.100000,1.609438,1.609438,1.609438,1.609438,1.549885,...,1.545478,1.541494,1.542744,1.541253,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-22 12:00:00,48769.308417,48787.711375,48749.417500,48769.737750,1.697971,10.794844,10.795222,10.794435,10.794853,10.792529,...,10.781677,10.756861,10.768406,10.753323,62.080327,36.210154,50.235845,10.777789,10.840219,10.715358
2021-08-22 16:00:00,48591.665708,48605.941333,48574.903375,48591.580833,0.463362,10.791204,10.791498,10.790859,10.791202,10.792325,...,10.782584,10.758207,10.769709,10.754676,59.525060,19.004941,36.146357,10.782060,10.834660,10.729461
2021-08-22 20:00:00,48807.713542,48825.874417,48791.558000,48810.168750,0.605696,10.795610,10.795982,10.795279,10.795660,10.792838,...,10.783830,10.759676,10.771192,10.756140,61.603611,5.196078,20.137058,10.786118,10.828258,10.743977
2021-08-23 00:00:00,49779.332208,49803.461792,49759.784208,49783.003708,1.941360,10.815334,10.815818,10.814942,10.815408,10.796311,...,10.786837,10.761862,10.773719,10.758256,69.159095,26.741234,16.980751,10.789987,10.827486,10.752488
2021-08-23 04:00:00,50278.596788,50292.908182,50261.680727,50277.475152,1.908007,10.825333,10.825618,10.824997,10.825311,10.800772,...,10.790501,10.764350,10.776667,10.760651,72.121754,55.500990,29.146101,10.793803,10.829215,10.758390

In [17]:
def add_vol_roc(data):
    data['vol_roc'] = data.volume.pct_change()
    return data

In [18]:
add_vol_roc(data_gemini)

,open,high,low,close,volume,log_open,log_high,log_low,log_close,ema12,...,ema50,ema34,ema55,rsi,K,D,sma,bollinger_up,bollinger_down,vol_roc
date,,,,,,,,,,,,,,,,,,,,,
2011-12-31 08:00:00,4.390000,4.390000,4.390000,4.390000,0.455581,1.479329,1.479329,1.479329,1.479329,1.479329,...,1.479329,1.479329,1.479329,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 16:00:00,4.490000,4.513333,4.490000,4.513333,31.620766,1.501702,1.506847,1.501702,1.506847,1.494235,...,1.493363,1.493493,1.493338,NaN,NaN,NaN,NaN,NaN,NaN,68.407580
2012-01-01 04:00:00,4.580000,4.580000,4.580000,4.580000,1.502000,1.521699,1.521699,1.521699,1.521699,1.504954,...,1.503189,1.503453,1.503138,NaN,NaN,NaN,NaN,NaN,NaN,-0.952500
2012-01-01 16:00:00,4.840000,4.840000,4.840000,4.840000,10.000000,1.576915,1.576915,1.576915,1.576915,1.527669,...,1.522741,1.523470,1.522600,NaN,NaN,NaN,NaN,NaN,NaN,5.657790
2012-01-01 20:00:00,5.000000,5.000000,5.000000,5.000000,10.100000,1.609438,1.609438,1.609438,1.609438,1.549885,...,1.541494,1.542744,1.541253,NaN,NaN,NaN,NaN,NaN,NaN,0.010000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-22 12:00:00,48769.308417,48787.711375,48749.417500,48769.737750,1.697971,10.794844,10.795222,10.794435,10.794853,10.792529,...,10.756861,10.768406,10.753323,62.080327,36.210154,50.235845,10.777789,10.840219,10.715358,2.306553
2021-08-22 16:00:00,48591.665708,48605.941333,48574.903375,48591.580833,0.463362,10.791204,10.791498,10.790859,10.791202,10.792325,...,10.758207,10.769709,10.754676,59.525060,19.004941,36.146357,10.782060,10.834660,10.729461,-0.727108
2021-08-22 20:00:00,48807.713542,48825.874417,48791.558000,48810.168750,0.605696,10.795610,10.795982,10.795279,10.795660,10.792838,...,10.759676,10.771192,10.756140,61.603611,5.196078,20.137058,10.786118,10.828258,10.743977,0.307177
2021-08-23 00:00:00,49779.332208,49803.461792,49759.784208,49783.003708,1.941360,10.815334,10.815818,10.814942,10.815408,10.796311,...,10.761862,10.773719,10.758256,69.159095,26.741234,16.980751,10.789987,10.827486,10.752488,2.205170
2021-08-23 04:00:00,50278.596788,50292.908182,50261.680727,50277.475152,1.908007,10.825333,10.825618,10.824997,10.825311,10.800772,...,10.764350,10.776667,10.760651,72.121754,55.500990,29.146101,10.793803,10.829215,10.758390,-0.017180

In [19]:
data_gemini = data_gemini.dropna()

In [59]:
data_gemini.shape[0]

20809

# Premodeling steps

### Temporal Train-Test Split

In [20]:
train_percentage = 80

In [21]:
train_len = int(len(data_gemini) * train_percentage/100)
train_len

16647

In [22]:
data_train = data_gemini[:train_len]
data_test = data_gemini[train_len:]

In [23]:
print(data_train.shape)
print(data_test.shape)

(16647, 22)
(4162, 22)

### scaling

In [54]:
from sklearn.preprocessing import MinMaxScaler

minmax_scaler = MinMaxScaler()

data_train_scaled = minmax_scaler.fit_transform(data_train)
data_test_scaled = minmax_scaler.transform(data_test)

## Basic Model

### create x and y array

In [57]:
data_train.shape[0]

16647

In [25]:
window_size = 72 #because we want to base our prediction on 3 weeks (72*4 hours)
horizon = 1 #number of predictions into the future :) 
data_train_subsequences = []
fake_y_train = []
for k in range(len(data_train_scaled)-(window_size-1)-horizon):
    data_train_subsequences.append(data_train_scaled[k:k+window_size])
    fake_y_train.append(data_train_scaled[k+window_size])

In [26]:
len(data_train_subsequences)

16575

In [27]:
len(fake_y_train)

16575

In [28]:
X_train = np.array(data_train_subsequences)
y_train = np.array(fake_y_train)[:,5:9]

In [29]:
print(X_train.shape)
print(y_train.shape)

(16575, 72, 22)
(16575, 4)

### Initialize a model & set layers

In [32]:
# Initialize a model, add a masking layer,LSTM,Dense Layers 
model = Sequential()
#model.add(normalizer)
#model.add(layers.Masking(mask_value=-1))
model.add(layers.LSTM(units=50, activation='relu',input_shape = (X_train.shape[1],22), return_sequences = True)) # first run 64 units
model.add(Dropout(0.2)) 
model.add(layers.LSTM(units = 60, activation = 'relu', return_sequences = True))
model.add(Dropout(0.3)) 
model.add(layers.LSTM(units = 80, activation = 'relu', return_sequences = True))
model.add(Dropout(0.4)) 
model.add(layers.LSTM(units = 120, activation = 'relu'))
model.add(Dropout(0.5)) 
model.add(layers.Dense(units =4))
#model.add(layers.Dense(4, activation="relu"))

model.summary()

2021-08-25 16:02:55.890342: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2021-08-25 16:02:55.890379: W tensorflow/stream_executor/cuda/cuda_driver.cc:269] failed call to cuInit: UNKNOWN ERROR (303)
2021-08-25 16:02:55.890393: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (LAPTOP-QQH7A32G): /proc/driver/nvidia/version does not exist
2021-08-25 16:02:55.890581: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 72, 16)            2496
_________________________________________________________________
lstm_1 (LSTM)                (None, 12)                1392
_________________________________________________________________
dense (Dense)                (None, 10)                130
_________________________________________________________________
dense_1 (Dense)              (None, 4)                 44
=================================================================
Total params: 4,062
Trainable params: 4,062
Non-trainable params: 0
_________________________________________________________________

### Compile Model

In [33]:
# later add: es = EarlyStopping(patience=3, restore_best_weights=True)
model.compile(optimizer = 'adam', loss = 'mean_squared_error', metrics="mae")
#model.compile(optimizer='rmsprop', loss="mse", metrics="mae")

### Fit Model

In [34]:
history= model.fit(X_train, Y_train, epochs = 20, batch_size =50, validation_split=0.1)
#model.fit(X_train,y_train,epochs=10, batch_size=64, validation_split=0.3)

2021-08-25 16:02:56.498820: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

Epoch 1/10
182/182 [==============================] - 11s 50ms/step - loss: 0.0967 - mae: 0.2100 - val_loss: 0.0246 - val_mae: 0.1432
Epoch 2/10
182/182 [==============================] - 7s 41ms/step - loss: 7.3633e-04 - mae: 0.0221 - val_loss: 0.0076 - val_mae: 0.0723
Epoch 3/10
182/182 [==============================] - 9s 49ms/step - loss: 5.0865e-04 - mae: 0.0195 - val_loss: 0.0071 - val_mae: 0.0725
Epoch 4/10
182/182 [==============================] - 9s 52ms/step - loss: 4.0260e-04 - mae: 0.0172 - val_loss: 0.0059 - val_mae: 0.0656
Epoch 5/10
182/182 [==============================] - 9s 50ms/step - loss: 3.2217e-04 - mae: 0.0156 - val_loss: 0.0040 - val_mae: 0.0525
Epoch 6/10
182/182 [==============================] - 9s 51ms/step - loss: 2.7994e-04 - mae: 0.0145 - val_loss: 0.0027 - val_mae: 0.0422
Epoch 7/10
182/182 [==============================] - 9s 51ms/step - loss: 2.4401e-04 - mae: 0.0138 - val_loss: 0.0023 - val_mae: 0.0395
Epoch 8/10
182/182 [==============================] - 9s 50ms/step - loss: 2.1435e-04 - mae: 0.0128 - val_loss: 0.0016 - val_mae: 0.0319
Epoch 9/10
182/182 [==============================] - 10s 54ms/step - loss: 2.0210e-04 - mae: 0.0122 - val_loss: 0.0023 - val_mae: 0.0406
Epoch 10/10
182/182 [==============================] - 9s 51ms/step - loss: 1.8186e-04 - mae: 0.0114 - val_loss: 0.0011 - val_mae: 0.0249

In [ ]:
loss = history.history['loss']
val_loss = history.history['val_loss']
epochs = range(len(loss))
plt.figure()
plt.plot(epochs, loss, 'b', label='Training loss')
plt.plot(epochs, val_loss, 'r', label='Validation loss')
plt.title("Training and Validation Loss")
plt.legend()
plt.show()

## create X_test & y_test

In [35]:
#with the same window_size & horizon as the train data
window_size = 72
horizon = 1
data_test_subsequences = []
fake_y_test = []
for k in range(len(data_test_scaled)-(window_size-1)-horizon):
    data_test_subsequences.append(data_test_scaled[k:k+window_size])
    fake_y_test.append(data_test_scaled[k+window_size])

In [36]:
X_test = np.array(data_test_subsequences)
y_test = np.array(fake_y_test)[:,5:9]

In [37]:
print(X_test.shape)
print(y_test.shape)

(4090, 72, 22)
(4090, 4)

In [38]:
y_test

array([[0.89919302, 0.89921484, 0.89926036, 0.89919776],
       [0.89920248, 0.89922101, 0.89928913, 0.89921206],
       [0.89885214, 0.89885762, 0.89893084, 0.89885577],
       ...,
       [1.10874385, 1.10871904, 1.10885782, 1.10875337],
       [1.11108174, 1.11107007, 1.11118873, 1.11109402],
       [1.11226691, 1.11223155, 1.11238067, 1.11226782]])

### Predict

In [39]:
#min1 = minmax_scaler.data_min_[5:9]

In [40]:
#range1 = minmax_scaler.data_range_[5:9]

In [41]:
y_pred = regressor.predict(X_test) 
Y_pred, Y_test
#predictions = model.predict(X_test)

In [42]:
#y_pred = np.exp((predictions * range1 + min1))

In [43]:
scaler.scale_

array([[ 6405.3245476 ,  6325.40386282,  8142.34152463,  5510.7802687 ],
       [ 6226.44944846,  6341.47595569,  8066.71028311,  5493.48735369],
       [ 6106.52962968,  6433.26086839,  8019.70920455,  5509.66912282],
       ...,
       [11305.61232354,  9936.63712998, 11398.50704552, 10742.60299373],
       [11227.72611985, 10103.98716095, 11722.90813   , 10429.44405695],
       [11197.62188146, 10228.99297083, 11858.83523619, 10408.58589218]])

In [44]:
#y_test_unscaled = np.exp((y_test * range1 + min1))

In [45]:
#len(y_pred)

4090

In [46]:
#len(y_test_unscaled)

4090

In [47]:
#y_test_unscaled

array([[ 8330.40797327,  8335.86954951,  8326.41193756,  8330.53907185],
       [ 8331.07347052,  8336.30347046,  8328.43317526,  8331.54416983],
       [ 8306.4846931 ,  8310.78284691,  8303.29891908,  8306.53743132],
       ...,
       [48806.07211847, 48824.21556822, 48789.93138288, 48808.53095339],
       [49778.2939647 , 49802.38679926, 49758.77085281, 49781.95970658],
       [50278.52718711, 50292.84080917, 50261.60947133, 50277.40641224]])

In [48]:
#y_pred.shape

(4090, 4)

In [49]:
#np.mean(np.abs(y_test_unscaled - y_pred))

13806.328581081869

In [ ]:
scale = 1/5.18164146e-05 #resiar esto

In [ ]:
Y_test = Y_test*scale Y_pred = Y_pred*scale

In [ ]:
Y_pred

In [ ]:
Y_test

In [ ]:
plt.figure(figsize=(14,5))
plt.plot(Y_test, color = 'red', label = 'Real Bitcoin Price')
plt.plot(Y_pred, color = 'green', label = 'Predicted Bitcoin Price')
plt.title('Bitcoin Price Prediction using RNN-LSTM')
plt.xlabel('Time')
plt.ylabel('Price')
plt.legend()
plt.show()